@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.form-group.form-group-lg {
  display: flex;
  flex-direction: row;
  margin: 0 20%;
}
.Index {
  padding: 50px;
  text-align: center;
  border-radius: 3px;
  color: #fff;

  img {
    width: 200px;
    height: auto;
    margin: 0 0 10px 3%;
  }
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
    color: lighten($cb-blue, 25%);
  }
  button {
    margin: 5px 0 15px 10px;
  }
  footer {
    margin: 20px -20px -20px;
    padding: 20px;

    p {
      font-size: 14px;
      line-height: 22px;
      color: lighten($cb-blue, 35%);
      margin: 0;
    }

    p a {
      color: lighten($cb-blue, 35%);
      text-decoration: underline;
    }
  }
}

@include breakpoint(tablet) {
  .Index {
    padding: 30px;

    footer {
      margin: 30px -30px -30px;
    }
  }
}

@include breakpoint(desktop) {
  .Index {
    padding: 40px;

    footer {
      margin: 40px -40px -40px;
    }
  }
}
